apiVersion: v1
kind: Service
metadata:
  name: receiverservice-service
  namespace: receiver
spec:
  type: NodePort
  selector:
    app: receiverservice
  ports:
    - port: 8084
      targetPort: 8084
      nodePort: 30084
      name: http